@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  --card-bg: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  --card-bc: rgb(5, 6, 45);
  --text-size: clamp(1.8rem, calc(7vw + 1rem), 4rem);
  --line-height: 1.5rem;
  --padding: clamp(1em, 2vw, 2em);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0B0F19;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 25px 25px;
  font-family: cursive;
  
}

